<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>showfacils</servlet-name>
        <servlet-class>code.showfacils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getvldata</servlet-name>
        <servlet-class>code.getvldata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exportdata</servlet-name>
        <servlet-class>code.exportdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateAccess</servlet-name>
        <servlet-class>code.validateAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSTFData</servlet-name>
        <servlet-class>Data.UploadSTFData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RawData</servlet-name>
        <servlet-class>reports.RawData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdGenerator</servlet-name>
        <servlet-class>General.IdGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportingrates</servlet-name>
        <servlet-class>reports.reportingrates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatemfl</servlet-name>
        <servlet-class>scripts.updatemfl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestatus</servlet-name>
        <servlet-class>scripts.updatestatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>todashboards</servlet-name>
        <servlet-class>dashboards.todashboards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pullSTF</servlet-name>
        <servlet-class>dashboards.pullSTF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbConnDash</servlet-name>
        <servlet-class>database.dbConnDash</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showfacils</servlet-name>
        <url-pattern>/showfacils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getvldata</servlet-name>
        <url-pattern>/getvldata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportdata</servlet-name>
        <url-pattern>/exportdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateAccess</servlet-name>
        <url-pattern>/validateAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSTFData</servlet-name>
        <url-pattern>/UploadSTFData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RawData</servlet-name>
        <url-pattern>/RawData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdGenerator</servlet-name>
        <url-pattern>/IdGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportingrates</servlet-name>
        <url-pattern>/reportingrates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatemfl</servlet-name>
        <url-pattern>/updatemfl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestatus</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>todashboards</servlet-name>
        <url-pattern>/todashboards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pullSTF</servlet-name>
        <url-pattern>/pullSTF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbConnDash</servlet-name>
        <url-pattern>/dbConnDash</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
